
<li class="post-item">
    <a href="{dataUrl}" class="pitem" target="_blank">
        <div class="pitem-cover" style="background: url({imgUrl});background-size:cover;background-position:50% 50%;border-radius: 6px 6px 0 0;"></div>

        <div class="new-flag flag-1039954"></div>

        <div class="pitem-title">{title}</div>

        <div class="pitem-content">{desc}</div>


        <div class="pitem-event-cover" data-id="{id}" data-url="{dataUrl}"></div>

        <ul class="pitem-info">

            <li class="info-item"><i class="info-icon icon-like" data-id="{id}"></i><span>{likeCount}</span></li>

            <li class="info-item"><i class="info-icon icon-comment"></i><span>{commentCount}</span></li>
            <li class="info-item"><i class="info-icon icon-share"></i><span>{shareCount}</span></li>
        </ul>
    </a>

</li>