<div class="wrapper" style="margin-top: -70px;">
    <h1 class="logo"><a href="/">礼物说 - 礼物和全球好货指南</a></h1>
    <div class="download">
        <a class="btn-iphone" href="http://tietie.la/j/lws_ios">iPhone 版下载</a>
        <div class="android-download">
            <div class="btn-android">Android 版下载</div>
            <div class="android-download-list">
                <a class="adl-item btn-91" href="http://bcs.apk.r1.91.com/data/upload/apkres/2015/1_7/9/com.liwushuo.gifttalk_093902.apk?p=android&amp;f_name=%u793C%u7269%u8BF4&amp;f_version=&amp;icon=&amp;channelid=&amp;f_identify=com.liwushuo.gifttalk_093902.apk" name="礼物说" onclick="return Key.Open(this, 'android');" softicon="" title="通过91助手下载"><i></i><p>百度极速安装</p></a>
                <a class="adl-item btn-360" href="zhushou360://type=apk&amp;name=礼物说&amp;url=http://tietie.la/j/lws_android"><i></i><p> 360 一键安装</p></a>
                <a class="adl-item btn-wandoujia" href="http://tietie.la/j/lws_android" onclick="return wdapi_apkdl(this);"><i></i><p>豌豆荚安装</p></a>
                <a class="adl-item btn-pc" href="http://tietie.la/j/lws_android"><i></i><p>本地下载安装</p></a>
            </div>
        </div>
    </div>
    <div class="social">
        <p class="weibo">
            <i class="icon-weibo"></i><span>新浪微博：<a target="_blank" href="http://weibo.com/u/5100805544">@礼物说</a></span>
        </p>
    </div>
    <div class="slideshow">
        <ul>
            <li><img src="http://static.liwushuo.com/static/web/img/slide/01_1871a63.png"></li>
            <li><img src="http://static.liwushuo.com/static/web/img/slide/02_d63bbc8.png"></li>
            <li><img src="http://static.liwushuo.com/static/web/img/slide/03_70f52ae.png"></li>
            <li><img src="http://static.liwushuo.com/static/web/img/slide/04_d48b04d.png"></li>
            <li><img src="http://static.liwushuo.com/static/web/img/slide/05_23c3230.png"></li>
        </ul>
    </div>
    <div class="gallery"></div>
</div>